* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
    background-color: #f0f2f5;

}

.filters {
    width: 800px;
    border: 1px solid #dadce0;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    border-width: 1px;
    background-color: #dadce0;
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-title {
    margin: 0.5rem;
}

.filter-value {
    margin: 0.5rem;
}

.filter-reset {
    margin-right: 1.5px;
    height: 30px;
}

.filter-submit {
    margin-left: 1.5px;
    height: 30px;
}

.filter-button {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.card-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #dadce0;
    border-radius: 8px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    margin-top: 10px;
    background-color: #f0f2f5;
}

.card-title {   
    text-align: center;
    margin-bottom: 3px;
}

.card-img {
    width: 200px;
    height: 200px;    
}

.card-descript {
    margin-top: 28px;
    margin-left: 10px;
}
















